<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/homepage.css">
    <title>BFP- Batac- City</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.1.0/mqtt.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>


</head>

<body>

    <div class="container">

        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="../images/logo.png">
                    <h2>BFP <span class="danger">Batac-City</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/userHome" class="active">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
              
             
                <a href="/userUser">
                    <span class="material-symbols-outlined">
                        manage_accounts
                        </span>
                    <h3>User</h3>
                </a>
                
                <a href="/userAboutUs">
                    <span class="material-symbols-outlined">
                        help
                    </span>
                    <h3>About Us</h3>
                </a>
                <a href="/logout">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1>Monitoring</h1>
            <!-- Display FDAS areas dynamically based on fetched data -->
            <% fdasData.forEach((fdasSensor, index) => { %>
                <div class="box-border">
                    <p><%= fdasSensor.title %></p>
                </div>
                <div class="analyse">
                    <div class="fire">
                        <div class="status" id="sensorStatus<%= index %>">
                            <div class="info" id="fireSensorInfo">
                                <h3>FDAS-<%= index + 1 %></h3>
                                <h1 id="fireSensorStatus"><%= fdasSensor.title %></h1>
                            </div>
                            <div class="sensor-data">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="percentage">
                                    <p id="mqtt"><%= fdasSensor.title %></p>
                                </div>
                            </div>
                            <div class="sensor-data">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="percentage">
                                    <p id="Temperature">Temperature: </p>
                                </div>
                                
                            </div>
                            <div class="sensor-data">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                                <div class="percentage">
                                    <p id="Humidity">Humidity: </p>
                                </div>
                            </div>
                            

                            
                        </div>
                    </div>
                </div>
            <% }); %>
            <div class="sensor-data">
              
            </div>
            <!-- End of Analyses -->
        </main>
        
        <!-- End of Main Content -->
        <script>
            const socket = io.connect('http://192.168.116.189:5000');
console.log('Connecting to Socket.IO');

socket.on('connect', () => {
  console.log('Connected to Socket.IO');
});

socket.on('mqttMessage', (payload) => {
  console.log('Received mqttMessage:', payload);
              // Update values based on the received MQTT message
              if (payload.topic === 'Temp') {
                document.getElementById('Temperature').innerHTML = `Temperature: ${payload.message}`;
              } else if (payload.topic === 'Humid') {
                document.getElementById('Humidity').innerHTML = `Humidity: ${payload.message}`;
              } else if (payload.topic === 'esp32/test') {
                document.getElementById('mqtt').innerHTML = `System: ${payload.message}`;
              }
              // You can customize the update logic based on your HTML structure
            });
          </script>
        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b><%= user.username %></b></p>
                        <small class="text-muted">User</small>
                    </div>
                    <div class="profile-photo">
                        <a href="/profile"> <!-- Add this anchor tag -->
                            <% if (user.profilePicture) { %>
                                <img src="<%= user.profilePicture.replace(/\\/g, '/') %>" alt="Profile Picture">
                            <% } else { %>
                                <!-- Placeholder image or default image when no profile picture exists -->
                                <img src="/images/profile-icon.jpg" width="40" class="rounded-circle">
                            <% } %>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="../images/logo.png">
                    <h2>BFP Batac-City</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/control.js"></script>
</body>

</html>