<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/homepage.css">
    <title>BFP- Batac- City</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.1.0/mqtt.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="../images/logo.png">
                    <h2>BFP <span class="danger">Batac-City</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/adminHome" class="active">
                    <span class="material-icons-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/location">
                    <span class="material-icons-sharp">pin_drop</span>
                    <h3>Geographic Data</h3>
                </a>
                <a href="/alert">
                    <span class="material-icons-sharp">whatshot</span>
                    <h3>Fire History</h3>
                </a>
                <a href="/database">
                    <span class="material-symbols-outlined">database</span>
                    <h3>Database</h3>
                </a>
                <a href="/charts">
                    <span class="material-symbols-outlined">history</span>
                    <h3>Data History</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->

        <!-- Main Content -->
        <main>
            <h1 style="font-size: 36px; font-weight: bold; margin-right: 20px; white-space: nowrap;">FDAS STATUS</h1>
            <!-- Display FDAS areas dynamically based on fetched data -->
            <div class="fdas-list">
                <% fdasData.forEach((fdasSensor, index) => { %>
                    <div class="box-border">
                        <div class="analyse">
                            <div class="fire">
                                <div class="status" id="sensorStatus<%= index %>">
                                    <div class="info" id="fireSensorInfo">
                                        <h4>FDAS-<%= index + 1 %></h4>
                                        <h1 id="fireSensorStatus"><%= fdasSensor.title %></h1>
                                    </div>
                                    <div class="sensor-data">
                                        <div class="icon-with-percentage">
                                            <i class="material-icons-sharp" style="font-size: 6rem; color: red;">location_on</i>
                                            <div class="percentage">
                                                <p id="esp32/test<%= index %>">Not Active</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sensor-data">
                                        <div class="icon-with-percentage">
                                            <i class="fas fa-thermometer-half fa-6x" style="color: orange;"></i>
                                            <div class="percentage">
                                                <p id="Temp<%= index %>">No Reading</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sensor-data">
                                        <div class="icon-with-percentage">
                                            <i class="fas fa-tint fa-6x" style="color: blue;"></i>
                                            <div class="percentage">
                                                <p id="Humid<%= index %>">No Reading</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sensor-data">
                                        <div class="icon-with-percentage">
                                            <i class="fas fa-smog fa-6x" style="color: rgb(104, 100, 104);"></i>
                                            <div class="percentage">
                                                <p id="Smoke<%= index %>">No Reading</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- New Fault Battery and False Alarm icons -->
                                    <div class="sensor-data">
                                        <div class="icon-with-percentage">
                                            <i class="fas fa-battery-half fa-6x" style="color: yellow;"></i>
                                            <div class="percentage">
                                                <p id="FaultBattery<%= index %>">No Fault</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sensor-data">
                                        <div class="icon-with-percentage">
                                            <i class="fas fa-exclamation-circle fa-6x" style="color: purple;"></i>
                                            <div class="percentage">
                                                <p id="FalseAlarm<%= index %>">No False Alarm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sensor-data" onclick="showAlertModal('<%= fdasSensor.latitude %>', '<%= fdasSensor.longitude %>')" style="display: none;">
                        <div class="icon-with-message" id="fire-data<%= index %>" style="display: none;">
                            <i class="fas fa-exclamation-triangle fa-6x blinking" style="color: red;"></i>
                            <div class="message">
                                <p id="Fire<%= index %>"></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            
            <!-- Modal structure for the alert -->
            <div id="alertModal" class="modal">
                <div class="modal-content shake-animation"> <!-- Add the shake-animation class -->
                    <span class="close-btn" onclick="closeAlertModal()">&times;</span>
                    <i class="fas fa-exclamation-triangle fa-10x blinking" style="color: red;"></i>
                    <div class="modal-message">
                        <p id="modalFireMessage"></p>
                    </div>
                    <button id="viewDirectionsBtn" class="view-directions-btn">View Directions</button>
                </div>
            </div>
            <audio id="notificationSound" src="/audio/Alarm Sound Effect.mp3" loop></audio> <!-- Ensure the loop attribute is added here -->
        </main>
        <!-- End of Main Content -->

        <!-- Embed fdasData into a script tag -->
        <script>
            const fdasData = <%- JSON.stringify(fdasData) %>;

            let modalLatitude, modalLongitude;
            let sound; // Declare a variable to hold the audio element

            function showAlertModal(latitude, longitude, message, index) {
                console.log('Show alert modal called with coordinates:', latitude, longitude);
                
                // Get the modal
                var modal = document.getElementById('alertModal');
                var fireMessage = document.getElementById('modalFireMessage');
            
                // Set the message and store coordinates for the modal
                fireMessage.innerHTML = `${message} on FDAS-${index + 1} at coordinates (${latitude}, ${longitude})`;
                modalLatitude = latitude;
                modalLongitude = longitude;
            
                // Display the modal
                modal.style.display = "flex";
                modal.classList.add('shake-animation');

                // Vibration (if supported)
                if ("vibrate" in navigator) {
                    navigator.vibrate([200, 100, 200]);
                }
            
                // Play sound notification
                sound = document.getElementById('notificationSound');
                sound.currentTime = 0; // Reset the sound to the beginning
                sound.play();
            }

            function closeAlertModal() {
                console.log('Close alert modal called');
                
                var modal = document.getElementById('alertModal');
                modal.style.display = "none";
                // Stop the sound when the modal is closed
                if (sound) {
                    sound.pause();
                }
            }

            function redirectToFDAS(latitude, longitude) {
                console.log('Redirect to FDAS called with coordinates:', latitude, longitude);
                
                window.location.href = `/location?latitude=${latitude}&longitude=${longitude}`;
            }

            // Event listener for the "View Directions" button
            document.getElementById('viewDirectionsBtn').addEventListener('click', () => {
                redirectToFDAS(modalLatitude, modalLongitude);
            });

            const socket = io.connect('https://fuego1-1.onrender.com');
            console.log('Connecting to Socket.IO');
            
            
          // MQTT message handler
            socket.on('mqttMessage', (payload) => {
                console.log('Received mqttMessage:', payload);

                const index = parseInt(payload.topic.substr(-1)); // Extract the index from the topic

                if (!isNaN(index)) {
                    const dataType = payload.topic.substring(0, payload.topic.length - 1); // Extract the data type (e.g., Temp, Humid, Smoke, Fire)
                    const element = document.getElementById(`${dataType}${index}`);

                    if (element) {
                        // Concatenate the label with the received value
                        const label = dataType === 'Temp' ? 'Temperature: ' :
                                    dataType === 'Humid' ? 'Humidity: ' :
                                    dataType === 'Smoke' ? 'Smoke: ' :
                                    dataType === 'FaultBattery' ? 'Battery Status: ' :
                                    dataType === 'FalseAlarm' ? 'Alarm Status: ' : '';
                        element.innerHTML = label + payload.message;

                        if (dataType === 'Fire') {
                            const sensorData = fdasData[index];

                            if (payload.message === 'Alarm is Triggered') {
                                showAlertModal(sensorData.latitude, sensorData.longitude, payload.message, index);
                            } else if (payload.message === 'False Alarm') {
                                const falseAlarmElement = document.getElementById(`FalseAlarm${index}`);
                                const iconElement = falseAlarmElement.closest('.sensor-data').querySelector('i');
                                iconElement.classList.add('blinking');
                                falseAlarmElement.innerHTML = 'Alarm Status: False Alarm';
                            } else if (payload.message === 'Battery Fault') {
                                const batteryElement = document.getElementById(`FaultBattery${index}`);
                                const iconElement = batteryElement.closest('.sensor-data').querySelector('i');
                                iconElement.classList.add('blinking');
                                batteryElement.innerHTML = 'Battery Status: Fault';
                            }else if (payload.message === 'No Fault'){
                                const batteryElement = document.getElementById(`FaultBattery${index}`);
                                const iconElement = batteryElement.closest('.sensor-data').querySelector('i');
                                iconElement.classList.remove('blinking');
                                batteryElement.innerHTML = 'Battery Status: No Fault';
                            }
                        }
                    } else {
                        console.error(`Element ${dataType}${index} not found.`);
                    }
                }
            });

            
        </script>

        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <!-- Profile dropdown -->
                <div class="profile">
                    <div class="dropdown">
                        <div class="profile-photo-container">
                            <div class="profile-photo">
                                <% if (admin1.profilePicture) { %>
                                    <img src="<%= admin1.profilePicture.replace(/\\/g, '/') %>" alt="Profile Picture">
                                <% } else { %>
                                    <!-- Placeholder image or default image when no profile picture exists -->
                                    <img src="/images/profile-icon.jpg" width="40" class="rounded-circle">
                                <% } %>
                            </div>
                            <div class="arrow-circle">
                                <!-- Arrow icon -->
                                <i class="material-icons arrow-down">keyboard_arrow_down</i>
                            </div>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu">
                            <!-- Dropdown menu items -->
                            <a href="/user">Profile</a>
                            <a href="/AboutUs">About Us</a>
                            <a href="/userList">Admin Panel</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/control.js"></script>
</body>
</html>
